
.logosep{
    height: 85px;
    width: 150px;
    margin-bottom: 2px;
}
.divlogo{
    padding-left: 140px;
}
.divheader{
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

}

.titulo{
    padding-left: 15%;
    font-size: 45px;
}
.spantitulo{
    margin-top: 10px;
}

ul, ol{
    list-style: none;
}

/* Menu Desplegable O.o*/
.menu li {
background-color:rgb(50, 88, 145);
color: black;
text-decoration: none;
text-align: center;
font-weight: 500;
padding: 10px 5%;
display: grid;
position: relative;
z-index: 1;
}
.menu{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 0;
    display: flex;
    background-color: rgb(50, 88, 145);
    justify-content: center;
    z-index: 1;
}
.menu li:hover{
    background-color: rgb(235, 235, 235);
}
.menu > li{
    float: left;
    justify-content: space-around;
    z-index: 1;
}
.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 1;
}
.menu li:hover > ul {
    display: block;
    
}

.menulinks{
    color: black;
    text-decoration: none;
}
.menulinks:hover{
    color: black;
}
.dropdownmenu{
    margin-top: 44px;
    background-color: rgb(50, 88, 145);
    padding-left: 0;
    display: flex;
    z-index: 1;
}
body{
    margin: 0px;
}

.table-wrapper{
    max-height: 200px;
    overflow-y: scroll;
    display:inline-block;
    width: 100%;
}



